@keyframes slideDown {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;

    }
}

@keyframes slideUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;

    }
}


@keyframes slideRight {
    from {
        transform: translateX(-40px);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;

    }
}

@keyframes slideLeft {
    from {
        transform: translateX(40px);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}