@use '../Global/variables' as v;

@mixin section-header {
    h1 strong {
        // opacity: 0;
        // animation: slideRight ease-out 2s;
        // animation-fill-mode: forwards;
        position: relative;
        color: v.$secondaryColour;
        font-family: v.$font1;
    }
}

@mixin text-highlight {
    background-image: v.$gradient-colour2;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: v.$transition1;

    &:hover {
        background-size: 100% 1em;
    }
}

@mixin text-layer {
    position: absolute;
    width: 100%;
    left: 4px;
    bottom: -5px;
    color: v.$linkColour;
}

@mixin text-layer-mobile {
    bottom: 0px;
    left: 5px;
}

@mixin text-underline {
    content: "";
    position: absolute;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: 0;
    transition: v.$transition1;
    background: v.$gradient-colour2;
}

@mixin wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    padding-top: 8em;

    @media screen and (max-width:650px) {
        padding-top: 5em;
    }
}

@mixin images {
    width: 50px;
    transform: scale(1);
    transition: all .2s ease;
    margin: v.$font-size-xs 0;

    &:hover {
        transform: scale(1.2);
    }
}


@mixin text-style {
    line-height: 1.8;
    color: v.$textColour;
    font-size: 15px;
}