@use '../Global/variables' as v;

@mixin section-header {
    h1 strong {
        // opacity: 0;
        // animation: slideRight ease-out 2s;
        // animation-fill-mode: forwards;
        position: relative;
        color: v.$secondaryColour;
        font-family: v.$font1;
    }
}

@mixin title-highlight {
    position: absolute;
    content: "";
    width: 3rem;
    top: 3.5rem;
    height: 4px;
    border-radius: 1000px;
    left: 0;
    background-image: v.$gradient-colour2;
}

@mixin title-highlight-mobile {
    position: absolute;
    content: "";
    width: 2.5rem;
    top: 3rem;
    height: 4px;
    border-radius: 1000px;
    left: 0;
    background-image: v.$gradient-colour2;
}

@mixin text-highlight {
    background-image: v.$gradient-colour2;
    background-size: 100% 0.3em;
    background-position: 0 80%;
    background-repeat: no-repeat;
    transition: v.$transition1;

    &:hover {
        background-size: 100% 1em;
    }
}

@mixin text-layer {
    position: absolute;
    width: 100%;
    left: 4px;
    bottom: -5px;
    color: v.$linkColour;
}

@mixin text-layer-mobile {
    bottom: 0px;
    left: 5px;
}

@mixin text-underline {
    content: "";
    position: absolute;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: 0;
    transition: v.$transition1;
    background: v.$gradient-colour2;
}

@mixin wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    padding-top: 8em;

    @media screen and (max-width:650px) {
        padding-top: 5em;
    }
}

//icons
@mixin images {
    width: 40px;
    transform: scale(1);
    transition: all .2s ease;
    margin: v.$font-size-xs 0;

    &:hover {
        transform: scale(1.2);
    }
}


@mixin text-style {
    line-height: 1.8;
    color: v.$textColour;
    font-size: 15px;
}

@mixin button {
    position: relative;
    font-family: v.$font1;
    padding: 0.5em 1.5em;
    background-image: linear-gradient(to top left,
            #f1523c 0%,
            #e62a0d 80%);
    border-radius: 25px;
    z-index: 1;
    border: none;


}

@mixin button-before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top left,
            #e62a0d 20%,
            #f1523c 100%);
    z-index: -1;
    transition: opacity 0.2s linear;
    opacity: 0;
    border-radius: 25px;
}

@mixin opposite-button {
    background: transparent;
    color: v.$linkColour;
    font-family: v.$font1;
    border: 0;
}

@mixin custom-scollbar {
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #acb3bb;
        border-top-left-radius: 0.5rem;
        /* 8px */
        border-top-right-radius: 0.5rem;
        /* 8px */
        border-bottom-left-radius: 0.5rem;
        /* 8px */
        border-bottom-right-radius: 0.5rem;
        /* 8px */
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: v.$hrColor;
    }
}