@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Montserrat&display=swap');
$primary-colour: rgb(8, 41, 77);
$gradient-colour: linear-gradient(to right,
        rgb(0, 183, 255),
        rgb(0, 183, 255));
$background-gradient: linear-gradient(to bottom,
        rgb(225, 105, 89),
        // rgb(157, 186, 190),
        rgb(8, 41, 77));
$textColour: rgb(255, 255, 255);
$sentenceColour: rgb(201, 209, 217);
$linkColour: rgb(225, 89, 89);
$font1: 'League Spartan',
    sans-serif;
$font2: 'Montserrat',
    sans-serif;
$font3: 'Rubik',
    sans-serif;

$height: calc(100vh);