$primary-colour: #0a2336;
$secondaryColour: #d3851e;

$gradient-colour: #fb3923;
$gradient-colour2: linear-gradient(to right,
    #fb3923 0%,
    #fb3923 100%);
$card-gradient-colour: linear-gradient(to bottom right,
    #173650 0%,
    #53789561 100%);
$background-gradient: linear-gradient(to top left,
    #d39a4f 0%,
    #fb3923 100%);
$background-gradient2: linear-gradient(to bottom,
    #386488 0%,
    #0a2336 100%);

//#386488 0%,
//#0a2336 100%
$linkColour: #f4e6cd;
$textColour: #fcfcfc;
$sentenceColour: rgb(201, 209, 217);
$hamburgerColour: #53606d;

$font1: 'League Spartan',
  sans-serif;
$font2: 'Montserrat',
  sans-serif;
$font3: 'Rubik',
  sans-serif;

$font-size-xs: 0.8em;
$font-size-s: 1.2em;
$font-size-m: 1.5em;
$font-size-l: 2.5em;
$font-size-xl: 3.5em;
$height: calc(100vh);

$transition1: all .3s ease-out;
$transition2: all .4s ease-in-out;

$hrColor: #808b96;