$gradient-colour: linear-gradient(to right,
        rgb(0, 197, 223),
        rgb(2, 234, 172));
$textColour: rgb(97, 109, 128);
$font1: 'League Spartan',
    sans-serif;
$font2: 'Montserrat',
    sans-serif;


.nav-links {
    ul {
        display: flex;
        list-style: none;

        a {
            color: $textColour;
            font-size: larger;
            font-family: $font2;
            text-decoration: none;
            position: relative;
            z-index: 1;

        }

        //underline animation
        a:hover {
            color: rgb(5, 180, 255);
            transition: 0.3s;
            transform: scale(1.1);

        }

        a::before {
            content: '';
            position: absolute;
            width: 80%;
            height: 4px;
            border-radius: 4px;
            background: $gradient-colour;
            bottom: 10px;
            left: 10px;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
            z-index: -1;
        }

        a:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }

}

.DropdownExpanded {
    display: none;
}

.DropdownClose {
    display: none;
}



@media screen and (max-width: 650px) {
    .nav-links {
        display: none;
    }

    .DropdownClose {
        display: flex;
        z-index: -999;
        position: relative;
        transition: margin .25s ease-out;
        text-decoration: none;
        margin: -6em 0 0 0;

        a {
            color: $textColour;
        }
    }

    .DropdownExpanded {
        position: relative;
        transition: margin .25s ease-out;
        display: flex;
        margin-top: 2em;

        ul {

            display: flex;
            justify-content: space-between;
            flex-direction: column;
            list-style: none;
            height: 165px;
            padding: 0;



            a {
                color: $textColour;
                font-size: large;
                font-family: $font2;
                text-decoration: none;
                position: relative;

                &:hover {
                    position: relative;
                    color: rgb(5, 180, 255);
                    transition: transform 0.5s;
                    transform: translateX(1%);

                }
            }
        }
    }
}