@use '../../Styles/Global/variables' as v;

.nav-links {
    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;

        a {
            color: v.$sentenceColour;
            font-size: larger;
            font-family: v.$font2;
            position: relative;
            z-index: 1;

        }

        //underline animation
        a:hover {
            color: v.$textColour;
            transition: v.$transition1;
            transform: scale(1.1);

        }

        a::after {
            content: '';
            position: absolute;
            width: 80%;
            height: 4px;
            border-radius: 5px;
            background: v.$gradient-colour;
            bottom: 0px;
            left: 10px;
            transform-origin: center;
            transform: scaleX(0);
            transition: v.$transition1;
            z-index: -1;
        }

        a:hover::after {
            transform-origin: center;
            transform: scaleX(1);
        }
    }

}

.menu {
    display: none;
}


@media screen and (max-width: 650px) {
    .nav-links {
        display: none;
    }

    .menu.active {
        transform: translateX(0);
        visibility: visible;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        transition: v.$transition2;
        transform: translateX(100vw);
        background: v.$background-gradient;
        z-index: 3;
        width: 75%;
        height: 100vh;
        top: 0;
        right: 0;


        a {
            color: v.$linkColour;
            font-size: larger;
            font-family: v.$font2;
            text-decoration: none;
            padding: 1.2em;

            &:hover {
                color: v.$textColour;

            }
        }

        ul {
            display: block;
            list-style: none;
            padding: 0;

            li {
                text-align: center;
            }
        }

    }


}