@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
$gradient-colour: linear-gradient(to right,
        rgb(1, 224, 254),
        rgb(2, 249, 183));
$textColour: rgb(97, 109, 128);

$font1: 'League Spartan',
    sans-serif;
$font2: 'Montserrat',
    sans-serif;
$font3: 'Rubik',
    sans-serif;