@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Montserrat&display=swap');

.wrapper {
    min-height: calc(100vh - 150px);
    display: flex;
    position: relative;
    align-items: center;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    .job-intro {
        font-family: v.$font2;
        color: v.$textColour;
        margin-top: -5em;

        p {
            font-size: 1.3em;
        }

        a {
            position: relative;
            text-decoration: none;
            color: v.$textColour;
            font-weight: 700;
            z-index: 0;
        }

        //highlight animation
        p a::before {
            content: '';
            background: v.$gradient-colour;
            border-radius: 5px;
            position: absolute;
            left: 0;
            bottom: 2px;
            width: 100%;
            height: 25%;
            transition: all .3s ease-in-out;
            z-index: -1;
        }

        p a:hover::before {
            bottom: 0;
            height: 100%;
        }

        .name h1 {
            font-size: 3.5em;
        }

        .interest h1 {
            font-size: 3.2em;
        }

    }

    div {
        margin: 1.5em 0;
    }


    .img-links {
        display: flex;
        justify-content: flex-end;

        img {
            width: 40px;
            margin: 0 0.5em;
            transition: transform .2s;

        }

        img:hover {
            position: relative;
            transform: scale(1.5);
        }
    }

}



@media screen and (max-width:650px) {

    .wrapper {

        .job-intro {
            margin-top: -4em;

            p {
                font-size: 1.1em;

            }

            .name h1 {
                font-size: 2.5em;
            }

            .interest h1 {
                font-size: 2em;
            }
        }

    }

}