@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Montserrat&display=swap');
$gradient-colour: linear-gradient(to right,
        rgb(1, 224, 254),
        rgb(2, 249, 183));
$textColour: rgb(97, 109, 128);
$font1: 'League Spartan',
    sans-serif;
$font2: 'Montserrat',
    sans-serif;

.wrapper {
    min-height: calc(100vh - 150px);
    display: flex;
    position: relative;
    align-items: center;

    .job-intro {
        font-family: $font2;
        color: $textColour;
        margin-top: -8%;


        p {
            font-size: 1.3em;
        }

        a {
            position: relative;
            text-decoration: none;
            color: $textColour;
            font-weight: 700;
            z-index: 0;
        }

        //highlight animation
        p a::before {
            content: '';
            background: $gradient-colour;
            border-radius: 5px;
            position: absolute;
            left: 0;
            bottom: 2px;
            width: 100%;
            height: 25%;
            transition: all .3s ease-in-out;
            z-index: -1;
        }

        p a:hover::before {
            bottom: 0;
            height: 100%;
        }

        .name h1 {
            font-size: 3.5em;
        }

        .interest h1 {
            font-size: 3.2em;
        }

    }

    div {
        margin: 1.5em 0;
    }


    .img-links {
        display: flex;
        justify-content: flex-end;

        img {
            width: 40px;
            margin: 0 0.5em;
            transition: transform .2s;

        }

        img:hover {
            position: relative;
            transform: scale(1.5);
        }
    }

}



@media screen and (max-width:768px) {

    .wrapper {
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;

        .job-intro {

            p {
                font-size: 1.1em;

            }

            .name h1 {
                font-size: 2.5em;
            }

            .interest h1 {
                font-size: 2em;
            }
        }

    }

}