@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Montserrat&display=swap');
$primaryNavBtnHighlight: #61b3d3;
$textColour: rgb(97, 109, 128);
$font1: 'League Spartan',
sans-serif;
$font2:'Montserrat',
sans-serif;
$gradient-colour: linear-gradient(to right,
    rgb(1, 224, 254),
    rgb(2, 249, 224),
    rgb(0, 255, 123));

.navbar-collapse{
    a{
        color: $textColour;
        font-size: larger;
        font-family: $font2;
        position:relative;

    }
        a::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background: $gradient-colour;
            bottom: 5px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
        a:hover::before {
            transform-origin: left;
            transform: scaleX(1);
    }
}
.logo{
    width:5rem;
    max-width: 100%;
    display:block;
    position: relative;
}

.Intro{
    height: 100vh;
    display:grid;
    position:relative;
    align-items: center;
    padding-bottom: 25%;
    padding-left:22%;
    font-size:1.5em;
    font-family: $font2;
    a {
            text-decoration: none;
            color: $textColour;
            font-weight: 500;
            position: relative;
            font-family: $font1;
            
        }
    
        a::before {
            content: '';
            background: $gradient-colour;
            position: absolute;     
            left: 5px;
            bottom: 3px;
            width: 100%;
            height:25%;
            z-index: -1;
            transition: all .3s ease-in-out;
            
        }
    
        a:hover::before {
            bottom: 0;
            height: 80%;
        }
       #job-intro{
           padding-bottom: 20px; 
       }
}

@media (max-width:768px) {
    .Intro{
        padding-left: 5%;
        padding-bottom: 65%;
    }
    .logo {
        width: 3rem;
    }
}

