@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Montserrat&display=swap');

$gradient-colour: linear-gradient(to right,
        rgb(1, 224, 254),
        rgb(2, 249, 183));
$textColour: rgb(97, 109, 128);
$font1: 'League Spartan',
    sans-serif;
$font2: 'Montserrat',
    sans-serif;


.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding: 1.5em;
    margin: 0 auto;

    .logo {
        width: 50px;
    }
}

@media screen and (max-width:768px) {
    .navigation-bar {
        padding: 7% 7%;

    }
}