$primaryNavBtn: rgb(75, 108, 150);

.navbar-collapse{
    a{
        color: $primaryNavBtn;
        font-size: large; 
        font-weight: bold;
        font-size: larger;
    }
}
.logo{
    
    height: 70px;
    position: relative;
   
    
}