$primary-colour: #17395c;
$card-gradient-colour: linear-gradient(to bottom right,
        #0f2d54 0%,
        #53789561 100%);
$gradient-colour2: linear-gradient(to right,
        #ff5d4b, #ff5d4b);

$background-gradient: linear-gradient(to bottom,
        #d39a4f,
        #c05949,

        #17395c);
$trustanaColour: #d39a4f;
$textColour: #fcfcfc;
$sentenceColour: rgb(201, 209, 217);
$linkColour: #f4e6cd;
$font1: 'League Spartan',
    sans-serif;
$font2: 'Montserrat',
    sans-serif;
$font3: 'Rubik',
    sans-serif;
$font-size-m: 1.5em;
$font-size-l: 2.5em;
$font-size-xl: 3.5em;
$height: calc(100vh);
$transition1: all .3s ease-out;

.about-card-wrapper {
    border: 1px solid black;
    height: 35vh;
    border-radius: 10px;
    background: $card-gradient-colour;
}