@use '../Global/variables' as v;
@use '../Global/animations';
@import '../Global/mixins';

#about-wrapper {
  @include wrapper;
  @include section-header;
  font-family: v.$font2;


  .about {
    h1 strong::before {
      content: 'About Me';
      @include text-layer;
    }

  }

  .paragraph {
    // opacity: 0;
    // animation: slideLeft ease-out 2s;
    // animation-fill-mode: forwards;
    padding-bottom: 0.5em;
    color: v.$textColour;

    strong,
    a {
      color: v.$linkColour;
      text-decoration: none;
    }

    .p1,
    .p2,
    .p3 {

      strong {
        position: relative;
        z-index: 0;
        @include text-highlight
      }

    }
  }

  .skills {
    padding-top: 5em;

    h1 strong::before {
      content: 'Skills';
      @include text-layer;
    }


    .title {
      color: v.$textColour;
    }

    .main,
    .secondary {
      display: grid;
      grid-template-columns: repeat(auto-fill, 90px);

      div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: v.$sentenceColour;

        .text {
          font-size: v.$font-size-xs;
          margin-bottom: v.$font-size-s;
        }

        img {
          @include images
        }
      }
    }

  }
}

@media screen and (max-width:650px) {
  #about-wrapper {

    .about,
    .skills {

      .main,
      .secondary {
        div {
          img {
            width: 35px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:380px) {
  #about-wrapper {
    .skills {

      .main,
      .secondary {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #about-wrapper {
    .skills {

      .main,
      .secondary {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
}