@use '../Global/variables' as v;
@use '../Global/animations';
@import '../Global/mixins';

#about-wrapper {
  @include wrapper;
  @include section-header;
  font-family: v.$font2;
  flex-direction: row;

  .about {
    margin-right: 3em;

    h1 {
      font-size: v.$font-size-xl;
    }

    h1 strong {
      &::after {
        @include title-highlight;
      }

      &::before {
        content: 'About Me';
        @include text-layer;
      }
    }
  }

  .paragraph {
    padding-top: 2em;
    padding-bottom: 0.5em;
    @include text-style;

    strong,
    a {
      color: v.$linkColour;
      text-decoration: none;
    }

    .p1,
    .p2,
    .p3 {

      strong {
        position: relative;
        z-index: 0;
        @include text-highlight
      }

    }
  }

  .skills {
    padding-top: 4em;
    min-width: 40%;

    .title {
      color: v.$textColour;
    }

    .main,
    .secondary {
      display: grid;
      grid-template-columns: repeat(auto-fill, 90px);

      div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: v.$sentenceColour;

        .text {
          font-size: v.$font-size-xs;
          margin-bottom: v.$font-size-s;
        }

        img {
          @include images
        }
      }
    }

  }
}

@media screen and (max-width:1024px) {
  #about-wrapper {
    flex-direction: column;

    .skills {
      padding-top: 0;
    }

    .about {
      margin-right: 0;
    }
  }
}

@media screen and (max-width:650px) {
  #about-wrapper {
    .about {
      h1 {
        font-size: v.$font-size-l;
      }

      h1 strong::after {
        @include title-highlight-mobile
      }
    }
  }

}


@media screen and (max-width:380px) {
  #about-wrapper {
    .skills {

      .main,
      .secondary {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #about-wrapper {
    .skills {

      .main,
      .secondary {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
}