@use '../Global/variables' as v;
@use '../Global/animations';

.about-wrapper {
    // border: 1px solid black;
    min-height: v.$height;
    display: flex;
    flex-direction: column;


    h1 span {
        // opacity: 0;
        // animation: slideRight ease-out 2s;
        // animation-fill-mode: forwards;
        position: relative;
        color: v.$textColour;
        font-family: v.$font1;
        background-image: v.$gradient-colour2;
        background-size: 100% 0.1em;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: v.$transition1;


        &:hover {
            background-size: 100% 1em;
        }
    }
}




.paragraph {
    // opacity: 0;
    // animation: slideLeft ease-out 2s;
    // animation-fill-mode: forwards;
    font-family: v.$font2;
    padding: 0.5em 0;
    color: v.$textColour;

    a {
        color: v.$linkColour;
        text-decoration: none;
    }

    .p1,
    .p2,
    .p3 {

        strong {
            position: relative;
            z-index: 0;
            background-size: 100% 0.2em;
            background-image: v.$gradient-colour2;
            background-repeat: no-repeat;
            background-position: 0 100%;
            transition: v.$transition1;

        }

        strong:hover {
            background-size: 100% 1.2em;
        }
    }


}