@use '../Global/variables' as v;
@import '../Global/mixins';

#experience-wrapper {
  @include wrapper;
  @include section-header;
  font-family: v.$font2;

  ol {
    list-style: upper-roman;


  }

  hr {
    color: v.$hrColor
  }

  .experience {
    h1 strong::before {
      content: 'Experience';
      @include text-layer;
    }

    .job {
      margin-bottom: v.$font-size-l
    }

    .job-title {
      color: v.$linkColour;
      display: flex;
      justify-content: space-between;
      font-family: v.$font1;
    }

    h5 {
      color: v.$sentenceColour
    }

    .experience-description {
      color: v.$textColour
    }

    .icons {
      display: grid;
      grid-template-columns: repeat(auto-fill, 90px);

      div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: v.$sentenceColour;
      }

      .text {

        font-size: v.$font-size-xs;
        margin-bottom: v.$font-size-xs ;
      }

    }

    img {
      width: 50px;
      transform: scale(1);
      transition: all .2s ease;
      margin: v.$font-size-xs 0;

      &:hover {
        transform: scale(1.2);
      }

    }

  }
}

@media screen and (max-width:650px) {
  #experience-wrapper {
    .experience {

      .job-title {
        flex-direction: column;

        strong {
          padding-bottom: 0.5em;
        }
      }


      .icons {
        img {
          width: 35px;
        }
      }

    }
  }
}