@use "../Global/variables" as v;

body {
    background: v.$primary-colour;
}

.parent-container {

    background: v.$background-gradient;
    // background-image: url("../images/abstract5k.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    width: 100%;
}




.child-container {
    margin: 0 auto;
    max-width: 950px;
    padding: 2em;
}

.navigation {

    padding: 2em;



}

section {
    margin-bottom: 3em;
}


@media screen and (max-width:650px) {

    .child-container,
    .navigation {

        padding: 1.5em;


    }



}