@use '../Global/variables' as v;
@use '../Global/animations';
@import '../Global/mixins';

#back-to-landing {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 50;
  font-size: v.$font-size-l;
  opacity: 50%;
  color: v.$linkColour;
  transition: v.$transition1;

  &:hover {
    opacity: 1;
  }
}

#wrapper {
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;


  .job-intro {
    color: v.$linkColour;
    margin-top: -30%;

    div {
      margin: 0.8em 0;
    }

    .name h1 {
      font-size: 80px;
      font-family: v.$font1;
      animation: slideDown ease-out 1.5s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay: .2s;
      animation-fill-mode: forwards;
      color: v.$secondaryColour;

      &::before {
        content: "Wilson Sie";
        position: absolute;
        left: 5px;
        color: v.$linkColour;
        width: 100%;

      }
    }

    .job-title {
      animation: slideRight ease-out 1.5s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;

      h2 {
        font-family: v.$font2;
        font-weight: 600;
        color: v.$linkColour;


        a {
          text-decoration: none;
          position: relative;
          color: v.$secondaryColour;
          transition: v.$transition1;

          &:hover {
            color: v.$gradient-colour
          }

          &::after {
            content: "";
            position: absolute;
            border-radius: 5px;
            transform-origin: center;
            transform: scaleX(0);
            width: 100%;
            height: 5px;
            bottom: -5px;
            left: 0;
            transition: v.$transition1;
            background: v.$gradient-colour2;

          }

          &:hover::after {
            transform: scaleX(1);
            transform-origin: center;
          }
        }
      }
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideRight ease-out 1.5s;
    opacity: 0;
    animation-delay: 3s;
    animation-fill-mode: forwards;


    .icon-wrapper {
      display: flex;
      column-gap: 1rem;
    }

    .portfolio-btn {
      @include button;
      margin-bottom: 1.5rem;
      height: 50%;
      text-decoration: none;
      color: v.$linkColour;
      font-size: 1.3rem;
      padding: 0.5rem 3rem;
      transition: v.$transition1;

      svg {
        margin-bottom: 3px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .link-btn {
      text-decoration: none;
      text-align: center;
      color: v.$hrColor;
      transition: v.$transition1;


      svg {
        font-size: v.$font-size-l;
      }

      p {
        margin-top: 0.5em;
        font-family: v.$font2;
        font-size: v.$font-size-xs;
        opacity: 0;
        transition: v.$transition1;
      }

      &:hover {
        transform: scale(1.2);
        color: v.$gradient-colour;
        opacity: 1;

        p {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width:650px) {

  #wrapper {
    .job-intro {

      .links {
        flex-direction: column;
        margin-top: 2rem;

      }

      div {
        margin: 0.8em 0;
      }

      .name h1 {
        font-size: v.$font-size-l;
      }

      .job-title h2 {
        font-size: v.$font-size-m;
      }

      .welcome {
        font-size: v.$font-size-s;
      }
    }

  }

}