@use '../Global/variables' as v;
@import '../Global/mixins';

.project-wrapper {
  @include wrapper;
  @include section-header;

  .projects {


    h1 strong::before {
      content: 'Projects';
      @include text-layer;
    }
  }

  img {
    width: 100%;

  }

  .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 0 0 3em 0;

    .description {

      p {
        color: v.$sentenceColour
      }

      h3 {
        color: v.$linkColour
      }

      padding-top: 2em;
      display: flex;

      justify-content: space-between;
      flex-direction: column;
      width: 100%;
    }
  }
}

@media screen and (max-width:650px) {}