@use '../Global/variables' as v;
@import '../Global/mixins';

.project-wrapper {
  @include wrapper;
  @include section-header;
  font-family: v.$font2;
  @include custom-scollbar;

  .projects {
    h1 {
      text-align: center;
      font-size: v.$font-size-xl ;
    }

    h1 strong::after {
      @include title-highlight;
      left: 4.5rem;
      top: 4rem;
    }

    h1 strong::before {
      content: 'Projects';
      @include text-layer;
    }
  }

  .project-container {
    display: flex;
    margin: 2em 0 3em 0;
    align-items: center;

    .project-img {
      width: 50%;
      min-height: 100%;
      border: 8px solid v.$primary-colour;
      border-radius: 10px;
    }

    .content {
      margin-left: 3rem;
    }

    .title {
      padding-top: 1em;

      a {
        text-decoration: none;
      }

      h3 strong {
        color: v.$linkColour;
        font-family: v.$font1;
        @include text-highlight
      }
    }
  }

  .description {
    @include text-style;
    max-height: 130px;
    overflow-y: auto;
  }


  .icons {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    .icon-wrapper {
      width: 80px;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: v.$sentenceColour;

      .text {
        font-size: v.$font-size-xs;
        margin-bottom: v.$font-size-xs ;
      }
    }

    img {
      @include images;

    }
  }

  .repo-btn {
    a {
      text-decoration: none;
      color: v.$linkColour;
      font-size: v.$font-size-s;
    }

    @include button;
    padding: 0.4em 1em;
    margin-right: 1rem;
    margin-top: 1rem;
    background-image: linear-gradient(to left,
      #f1523c 0%,
      #e62a0d 70%);


    &::before {
      @include button-before;
      background-image: linear-gradient(to left,
          #e62a0d 30%,
          #f1523c 100%)
    }

    &:hover::before {
      opacity: 1
    }
  }

  .site-btn {
    @include opposite-button;

    a {
      text-decoration: none;
      color: v.$linkColour;
      font-size: v.$font-size-s;
    }
  }


}

@media screen and (max-width:1024px) {
  .project-wrapper {
    .description {
      max-height: none;
    }

    .projects {
      .project-container {
        .project-img {
          width: 100%;
        }

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .content {
          margin-left: 0;
        }

        .project-img {
          width: 100%;
        }
      }
    }
  }
}


@media screen and (max-width:650px) {
  .project-wrapper {
    .projects {
      h1 {
        font-size: v.$font-size-l;
      }

      h1 strong::after {
        @include title-highlight-mobile;
        left: 3rem;
      }

      .project-container {

        .repo-btn,
        .site-btn {
          font-size: v.$font-size-xs;
        }
      }
    }

    .icons {
      .icon-wrapper {
        .desc {
          margin-bottom: 0;
          opacity: 0;
        }

        &:hover .desc {
          transition: all 0.5s ease;
          opacity: 1
        }


      }
    }
  }
}